VITE_SUPABASE_URL=https://imgdlmomoxqaziqrlsjj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltZ2RsbW9tb3hxYXppcXJsc2pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzMTc0NTksImV4cCI6MjA5Njg5MzQ1OX0.jzRcveDsnFh9aKCpnfYq6FVS7GaSK75_lO-9V3Mf5ks

